{% extends 'base.html'%}
{% block title%}
	Home Page
{% endblock %}
{% block content%}
<div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to KFGK!</h1>
                    <p class="lead">Discover the best deals on your favorite products.</p>
                    <hr class="my-4">
                    <p>Browse our wide range of products and find exactly what you need.</p>
		    <a class="btn btn-primary btn-lg" href="{{ url_for('market_page')}}" role="button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
